<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cafe24.dmsthch.Calendar.CalendarMapper">
  
  <select id="selectAllSchedule" parameterType="String" resultType="com.cafe24.dmsthch.Calendar.Schedule">
  	SELECT 
  		schedule_no as scheduleNo 
  		,teacher_no as teacherNo
  		,license_kindergarten as licenseKindergarten
  		,category_no as categoryNo
  		,schedule_content as scheduleContent
  		,schedule_start_day as scheduleStartDay
  		,schedule_end_day as scheduleEndDay
  		,schedule_title as scheduleTitle
  		,schedule_time as scheduleTime
  	FROM schedule
  	WHERE license_kindergarten = #{licenseKindergarten}
  </select>
  
  
  </mapper>