<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cafe24.dmsthch.Child.ChildMapper">
  <!-- 해당유치원의 반편성번호와 유아정보 가져오기 (발달평가를 위한 셀렉트) -->
  <select id="ChildBeforeDevelopmentAdd" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT
		f.kid_formation_no AS KidFormationNo
		,k.kid_name AS kidName
		,k.kid_birth AS kidBirth
		,k.kid_gender AS kidGender
		,c.class_name AS className
		,c.class_age AS classAge
	FROM kid_formation f
	INNER JOIN kid k
	ON k.kid_no = f.kid_no
	INNER JOIN kid_class c
	ON c.class_no = f.class_no
	WHERE c.class_year = #{year}
	AND c.license_kindergarten = #{licenseKindergarten}
	<if test="searchAge!=''">
		AND c.class_age = #{searchAge}
	</if>
	<if test="searchType!='' ">
		<if test="searchType.equals('kidName')">
			 AND k.kid_name LIKE CONCAT('%',#{searchVal},'%') 
		</if>
		<if test="searchType.equals('className')">
			AND c.class_name LIKE CONCAT('%',#{searchVal},'%')
		</if>
	</if>
	<if test=" searchType == '' and searchVal != ''">
		 AND k.kid_name LIKE CONCAT('%',#{searchVal},'%') OR c.class_name LIKE CONCAT('%',#{searchVal},'%')
		
	</if>

	
	ORDER by k.kid_name ASC
	LIMIT #{startRow}, #{onePageRow};
  </select>
  
  <!-- 유아번호로 오늘날짜 출석정보 가져오기 (특이사항 포함)-->
  <select id="getCommuteAll" parameterType="java.lang.Integer" resultType="com.cafe24.dmsthch.Child.ChildAttendance">
  	select 
		kid_attendance.attendance_no AS attendanceNo,
		kid_attendance.kid_no AS kidNo,
		kid_attendance.license_kindergarten AS licenseKindergarten,
		kid_attendance.attendance,
		kid_attendance.attendance_unusual AS attendanceUnusual,
		kid_attendance.attendance_day AS attendanceDay,
		kid_attendance_unusual.category_no AS categoryNo,
		kid_attendance_unusual.attendance_time AS attendanceTime,
		kid_attendance_unusual.attendance_memo AS attendanceMemo
	from kid_attendance left join kid_attendance_unusual 
	on kid_attendance.attendance_no = kid_attendance_unusual.attendance_no
	where kid_attendance.attendance_day = DATE_FORMAT(NOW(),'%Y-%m-%d')
	and kid_attendance.kid_no = #{kidNo}
  
  </select>
  
  
  <!-- 출석 특이사항 insert -->
  <insert id="unusualInsert" parameterType="com.cafe24.dmsthch.Child.ChildAttendance">
  	INSERT INTO kid_attendance_unusual (
  		kid_no,
  		attendance_no,
  		category_no,
  		attendance_time,
  		attendance_memo,
  		attendance_day
  	) VALUES (
  		#{kidNo},
  		#{attendanceNo},
  		#{categoryNo},
  		DATE_FORMAT(NOW(),'%T'),
  		#{attendanceMemo},
  		DATE_FORMAT(NOW(),'%Y-%m-%d')
  	);
  	
  </insert>
  
    <!-- kidNo로 당일 출석정보 가져오기 -->
  <select id="getTodayAttendance" parameterType="java.lang.Integer" resultType="com.cafe24.dmsthch.Child.ChildAttendance">
  	select 
		attendance_no AS attendanceNo,
		kid_no AS kidNo,
		license_kindergarten AS licenseKindergarten,
		attendance,
		attendance_unusual AS attendanceUnusual,
		attendance_day AS attendanceDay
	from 
		kid_attendance 
	where kid_no = #{kidNo}
	and attendance_day = DATE_FORMAT(NOW(),'%Y-%m-%d')
  </select>  

  
<!--   당일 출석이 처음이 아닌경우 update -->
  <update id="kidAttendanceUpdate" parameterType="com.cafe24.dmsthch.Child.ChildAttendance">
	  UPDATE 
	  	kid_attendance 
	  SET 
	  	attendance = #{attendance},
	  	attendance_unusual = #{attendanceUnusual} 
	  WHERE 
	  	kid_no = #{kidNo}
	  and 
	  	attendance_day = DATE_FORMAT(NOW(),'%Y-%m-%d')
  
  </update>
  
<!-- 당일 출석이 처음인경우 insert -->
  <insert id="kidAttendanceInsert" parameterType="com.cafe24.dmsthch.Child.ChildAttendance">
  	INSERT INTO kid_attendance (
  		kid_no, 
  		license_kindergarten, 
  		attendance, 
  		attendance_unusual, 
  		attendance_day
  	) VALUES (
  		#{kidNo},
  		#{licenseKindergarten},
  		#{attendance},
  		#{attendanceUnusual},
  		DATE_FORMAT(NOW(),'%Y-%m-%d')
  	)
  </insert>
  
  <!-- 출석 특이사항 카테고리 가져오기 -->
  <select id="getAttendanceCategory" resultType="java.util.Map">
  	select 
		category_no AS categoryNo
		,category_name AS categoryName 
	from
		kid_attendance_category
  </select>
  
  <!-- 당일 출석부 등록유무 확인 -->
  <select id="isTodayCommute" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select 
  		count(*)
  	from 
  		kid_attendance 
  	where 
  		attendance_day = DATE_FORMAT(NOW(),'%Y-%m-%d')
  	and
  		license_kindergarten = #{license}
  </select>
  
  <!-- 반하나 가져오기 -->
  <select id="getClassOne" parameterType="java.lang.Integer" resultType="com.cafe24.dmsthch.Child.ChildClass">
  	select 
  		license_kindergarten AS licenseKindergarten
  		, class_no AS classNo
  		, class_name AS className
  		, class_year AS classYear
  		, class_age AS classAge
  	from 
  	kid_class where class_no = #{classNo}
  </select>
  
  <!-- 선생번호로 반번호 가져오기 -->
  <select id="getClassNoToTeacherNo" parameterType="java.lang.Integer" resultType="com.cafe24.dmsthch.Child.ChildClass">
	select 
		class_no AS classNo
	from 
		teacher_formation 
	where 
		teacher_no = #{teacherNo}
  
  </select>
  
  
  
  
  
  
  <insert id="classOrganization" parameterType="java.util.Map">
  	INSERT INTO kid_formation(
	  	license_kindergarten
	  	,kid_no
	  	,class_no
  	)VALUES(
  		#{licenseKindergarten}
  		,#{kidNo}
  		,#{classNo}
  	)
  </insert>
  
  
  <update id="updateChild" parameterType="com.cafe24.dmsthch.Child.Child">
  UPDATE kid SET 
  	license_kindergarten = #{licenseKindergarten}
  	, kid_name = #{kidName}
  	, kid_birth = #{kidBirth}
  	, kid_address = #{kidAddress}
  	, kid_protector_phone = #{kidProtectorPhone}
  	, kid_protector_phone_reserve = #{kidProtectorPhoneReserve}
  	, kid_precautions = #{kidPrecautions} 
  	, kid_gender = #{kidGender}
  	, kid_commuting = #{kidCommuting}
  	, kid_entrance_day = DATE_FORMAT(NOW(),'%Y-%m-%d')
  WHERE  kid_no = #{kidNo}
  </update>
  
  <select id="getChild" parameterType="int" resultType="com.cafe24.dmsthch.Child.Child">
  	SELECT
  	  	license_kindergarten AS licenseKindergarten
	  	, kid_name AS kidName
	  	, kid_birth AS kidBirth
	  	, kid_address AS kidAddress
	  	, kid_protector_phone AS kidProtectorPhone
	  	, kid_protector_phone_reserve AS kidProtectorPhoneReserve
	  	, kid_precautions AS kidPrecautions
	  	, kid_gender AS kidGender
	  	, kid_commuting AS kidCommuting
  		, kid_entrance_day AS KidEntranceDay
  	FROM kid
  	WHERE kid_no = #{kidNo}
  	
  </select>
  
  <select id="getClass" parameterType="java.util.Map" resultType="com.cafe24.dmsthch.Child.ChildClass">
  	SELECT
  		class_no AS classNo
  	  	, license_kindergarten AS licenseKindergarten 
	  	, class_name AS className
	  	, class_year AS classYear
	  	, class_age AS classAge

  	FROM kid_class
  	LIMIT  #{beginRow}, #{pagePerRow}  	
  </select>
  	
  <select id="getChildCount" resultType="int">
  	SELECT COUNT(*) FROM kid
  </select>
  
  <insert id="insertChild" parameterType="com.cafe24.dmsthch.Child.Child">
  	
  	INSERT INTO kid (
  		license_kindergarten,
  		kid_name,
  		kid_birth,
  		kid_address,
  		kid_protector_phone,
  		kid_protector_phone_reserve,
  		kid_precautions,
  		kid_gender,
  		kid_commuting,
  		kid_entrance_day)
  	VALUES (
  		#{licenseKindergarten},
  		#{kidName},
  		#{kidBirth},
  		#{kidAddress},
  		#{kidProtectorPhone},
  		#{kidProtectorPhoneReserve},
  		#{kidPrecautions},
  		#{kidGender},
  		#{kidCommuting},
  		DATE_FORMAT(NOW(),'%Y-%m-%d')
  	);
  	
  	
  </insert>
  
  <insert id="insertClass" parameterType="com.cafe24.dmsthch.Child.ChildClass">
  	
  	INSERT INTO kid_class (
  		license_kindergarten,
  		class_name,
  		class_year,
  		class_age )
  	VALUES (
  		#{licenseKindergarten},
  		#{className},
  	    DATE_FORMAT(NOW(),'%Y'),
  		#{classAge}
  	);
  	
  	
  </insert>
  
  <!-- 여러가지 조건으로 select -->
  <select id="severalSelect" resultType="com.cafe24.dmsthch.Child.Child" parameterType="java.util.Map">
  	select
  		kid.kid_no AS kidNo,
		kid.kid_name AS kidName,
		kid.kid_birth AS kidBirth ,
		kid.kid_address AS kidAddress,
		kid.kid_protector_phone AS kidProtectorPhone,
		kid.kid_protector_phone_reserve AS kidProtectorPhoneReserve,
		kid.kid_precautions AS kidPrecautions,
		kid.kid_gender AS kidGender,
		kid.kid_commuting AS kidCommuting,
		kid.kid_entrance_day AS kidEntranceDay
	from teacher_formation inner join kid_formation
	inner join kid
	where teacher_formation.class_no = kid_formation.class_no 
	and teacher_formation.license_kindergarten = kid_formation.license_kindergarten 
	and kid_formation.kid_no = kid.kid_no
	and teacher_formation.license_kindergarten = #{license} and teacher_formation.teacher_no = #{teacherNo}
	LIMIT  #{beginRow}, #{pagePerRow}
		  	
  </select>
  
  <select id="getChildList" parameterType="java.util.Map" resultType="com.cafe24.dmsthch.Child.Child">
  	SELECT 
  		kid.kid_no AS kidNo,
  		kid.kid_name AS kidName,
		kid.kid_birth AS kidBirth ,
		kid.kid_address AS kidAddress,
		kid.kid_protector_phone AS kidProtectorPhone,
		kid.kid_protector_phone_reserve AS kidProtectorPhoneReserve,
		kid.kid_precautions AS kidPrecautions,
		kid.kid_gender AS kidGender,
		kid.kid_commuting AS kidCommuting,
		kid.kid_entrance_day AS kidEntranceDay
  	FROM kid where kid.license_kindergarten = #{license}
  	LIMIT  #{beginRow},#{pagePerRow}
  </select>
  
  <select id="getRemainderFormationList"  parameterType="com.cafe24.dmsthch.Child.ChildClass" resultType="com.cafe24.dmsthch.Child.Child"> 
  	SELECT 
  		license_kindergarten AS licenseKindergarten
  		, kid_no AS kidNo
		, kid_name AS kidName
		, kid_birth AS kidBirth
	FROM kid 
	WHERE kid_no 
	NOT IN(
		select k.kid_no 
		FROM kid_formation k 
		INNER JOIN (
			SELECT class_no 
			FROM kid_class WHERE class_year =DATE_FORMAT(NOW(),'%Y')
		) c 
		ON k.class_no = c.class_no)
	AND license_kindergarten = #{licenseKindergarten}
	AND DATE_FORMAT(now(),'%Y') - DATE_FORMAT(kid_birth,'%Y') = #{classAge};
  	
  </select>
  
  <select id="getChildForClass" parameterType="com.cafe24.dmsthch.Child.ChildClass" resultType="com.cafe24.dmsthch.Child.Child">
  	select 
		kid.kid_name AS kidName
		,kid.kid_no AS kidNo
	from 
		kid 
	left join 
		kid_formation 
	on kid.kid_no = kid_formation.kid_no 
	where kid.license_kindergarten = #{licenseKindergarten}
	and kid_formation.class_no = #{classNo}
  
  </select>
  
  </mapper>