<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe24.dmsthch.EducationProject.EducationProjectMapper">
  
  <!-- 테스트 -->
  <!-- <insert id="test" parameterType="com.cafe24.dmsthch.EducationProject.Education">
  	INSERT INTO education_project(
  		education_onepage_no
  		,val
  		,license_kindergarten
  		
  	)VALUES(
  		1
  		,#{val}
  		,#{licenseKindergarten}
  	)  	
  </insert>
  
  <select id="selectTest" parameterType="com.cafe24.dmsthch.EducationProject.Education" resultType="String">
  	SELECT
  		val
  	FROM education_project
  	WHERE 
  		education_project_no = 22
  	AND education_onepage_no=1
  	AND license_kindergarten = ${licenseKindergarten} 	
  </select> -->
  <!-- 테스트끝 -->
  
  
  	<!-- 폼 추가하기 -->
<insert id="formAdd" parameterType="com.cafe24.dmsthch.EducationProject.EducationForm">
	INSERT INTO education_project_form(
  		form_order
  		,license_kindergarten
  		,form_val
  		,form_merge
  		,form_borders
  		,form_count_row
  		,form_count_col
  		,form_title
  	)VALUES(
  		(
  			SELECT * FROM
	  		(SELECT COUNT(form_no)
	  		FROM education_project_form
	  		WHERE license_kindergarten = #{licenseKindergarten}) 
	  		as temp
  		) + 1
  		,#{licenseKindergarten}
  		,#{formVal}
  		,#{formMerge}
  		,#{formBorders}
  		,#{formCountRow}
  		,#{formCountCol}
  		,#{formTitle}
  	)
</insert>
	
	<!-- 로드하기 -->
<select id="formLoad" parameterType="com.cafe24.dmsthch.EducationProject.EducationForm" resultType="com.cafe24.dmsthch.EducationProject.EducationForm">
	SELECT
		form_no AS formNo 
		,form_val AS formVal
		,form_merge AS formMerge
		,form_borders AS formBorders
		,form_count_row AS formCountRow
		,form_count_col AS formCountCol
	FROM education_project_form
	WHERE license_kindergarten = #{licenseKindergarten}
	AND form_order = #{formOrder}
</select>

	<!-- 저장된 계획안 이름 불러오기 -->
<select id="educationProjectFormName" parameterType="String" resultType="com.cafe24.dmsthch.EducationProject.EducationForm">
	SELECT
		form_title AS formTitle
		,form_order AS formOrder
	FROM education_project_form
	WHERE license_kindergarten = #{licenseKindergarten} 
</select>
	
	<!-- 계획안 저장하기 -->
<insert id="educationProjectAdd" parameterType="com.cafe24.dmsthch.EducationProject.EducationForm">
	INSERT INTO education_project(
		val
		,borders
		,merge
		,license_kindergarten
		,count_row
		,count_col
		,add_date
		,category_no
		,age
		,class_no
		,project_date_info
	)VALUES(
		#{val}
		,#{borders}
		,#{merge}
		,#{licenseKindergarten}
		,#{countRow}
		,#{countCol}
		,curdate()
		,1
		,#{age}
		,#{classNo}
		,#{projectDateInfo}
	)
</insert>
	
	<!-- 계획안 불러오기 -->
<select id="educationProjectLoad" parameterType="com.cafe24.dmsthch.EducationProject.Education" resultType="com.cafe24.dmsthch.EducationProject.Education">
	SELECT
		 e.education_project_no AS educationProjectNo 
		,e.val
		,e.merge
		,e.borders
		,e.count_row AS countRow
		,e.count_col AS countCol
		,e.add_date AS addDate
		,c.category_name AS categoryNo
		,e.age
		,e.class_no AS classNo
	FROM education_project e
	INNER JOIN education_category c
	ON e.category_no = c.category_no
	WHERE license_kindergarten = #{licenseKindergarten}
	
	<if test="categoryNo == 1">
	AND age = #{age}
	</if>
	<if test="categoryNo != 1">
	AND e.class_no = ${classNo}
	</if> 
	AND e.category_no = #{categoryNo}
	AND e.project_date_info = #{projectDateInfo}
</select>

	

<!-- 해당 유치원의 모든 반 목록 가져오기 -->
<select id="selectAllChildClass" parameterType="com.cafe24.dmsthch.Child.ChildClass" resultType="com.cafe24.dmsthch.Child.ChildClass">
  	SELECT
  		class_no AS classNo
  		,class_name AS className
  		,class_year AS classYear
  		,class_age As classAge
  	FROM kid_class
	WHERE license_kindergarten = #{licenseKindergarten}
	AND class_year = #{classYear}
	ORDER BY class_age ASC
 </select>

<!-- 해당 반의 카테고리별로(월/주/일) 목록 가져오기  조인 필요없어졌음 수정해야함. -->
<select id="EducationProjectList" parameterType="com.cafe24.dmsthch.Child.ChildClass" resultType="com.cafe24.dmsthch.EducationProject.Education">
	SELECT
	 	e.education_project_no AS educationProjectNo 
		,e.add_date AS addDate
		,e.category_no AS categoryNo
		,age
		<if test="categoryNo != 1">
		,e.class_no AS classNo
		</if>
		,e.project_date_info AS projectDateInfo
	FROM education_project e
	<if test="categoryNo != 1">
	INNER JOIN kid_class k
	ON e.class_no = k.class_no
	</if>
	WHERE e.license_kindergarten = #{licenseKindergarten}
	AND e.category_no = ${categoryNo}
	<if test="categoryNo != 1">
		<if test="classNo != ''">
		AND e.class_no = #{classNo}
		</if>
	</if>
	<if test="age !=0">
	AND e.age = #{age}
	</if>
	ORDER BY e.project_date_info DESC
</select>

<!-- 반의 이름 가져오기 -->
<select id="selectClassName" parameterType="String" resultType="String">
	SELECT
		class_name AS className
	FROM kid_class
	WHERE class_no = #{classNo}
</select>

<!-- 계획안 카테고리 이름 가져오기 -->
<select id="selectCategoryName" parameterType="String" resultType="String">
	SELECT
		category_name AS categoryName
	FROM education_category
	WHERE category_no = #{categoryNo} 
</select>




<!-- -구 -해당 반의 카테고리별로(월/주/일) 목록 가져오기 -->
<!-- <select id="EducationProjectList" parameterType="com.cafe24.dmsthch.Child.ChildClass" resultType="com.cafe24.dmsthch.EducationProject.Education">
	SELECT
	 	e.education_project_no AS educationProjectNo 
		,e.add_date AS addDate
		,e.category_no AS categoryNo
		,age
		<if test="categoryNo != 1">
		,k.class_name AS classNo
		</if>
		,e.project_date_info AS projectDateInfo
	FROM education_project e
	<if test="categoryNo != 1">
	INNER JOIN kid_class k
	ON e.class_no = k.class_no
	</if>
	WHERE e.license_kindergarten = #{licenseKindergarten}
	AND e.category_no = ${categoryNo}
	<if test="categoryNo != 1">
		<if test="classNo != ''">
		AND e.class_no = #{classNo}
		</if>
	</if>
	<if test="age !=0">
	AND e.age = #{age}
	</if>
	ORDER BY e.project_date_info DESC
</select> -->
  </mapper>