<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.cafe24.dmsthch.Management.ManagementMapper">
<!-- 예산 기본 오늘 날짜 셀렉트 -->
<select id="selectManagementDayList" parameterType="String" resultType="com.cafe24.dmsthch.Management.ManagementList" >
	SELECT
	'minus' AS PM
	,t.teacher_name AS teacherName
	,e.equipment_name AS equipmentName
	,m.equipment_cost AS equipmentCost
	,m.equipment_amount AS equipmentAmount
	,m.equipment_day AS equipmentDay
	FROM
		test_equipment e
	INNER JOIN
		teacher t
	ON t.teacher_no = e.teacher_no
	INNER JOIN
		test_equipment_value_minus m
	ON m.equipment_no = e.equipment_no
	WHERE
		m.equipment_day BETWEEN #{testDay} AND DATE_ADD(#{testDay}, INTERVAL +1 DAY)
	UNION ALL
	SELECT
		'plus' AS PM
		,t.teacher_name AS teacherName
		,e.equipment_name AS equipmentName
		,p.equipment_cost AS equipmentCost
		,p.equipment_amount AS equipmentAmount
		,p.equipment_day AS equipmentDay
	FROM
		test_equipment e
	
	INNER JOIN
		teacher t
	ON t.teacher_no = e.teacher_no
	INNER JOIN
		test_equipment_value_plus p
	ON p.equipment_no = e.equipment_no
	WHERE
		p.equipment_day BETWEEN #{testDay} AND DATE_ADD(#{testDay}, INTERVAL +1 DAY)
	ORDER BY equipmentDay DESC; 
		
</select>




  <!-- 같은 네임품명 플러스값 총합, 마이너스값 총합 값  가져오기 -->
	<select id="selectMangementPlusMinsList" resultType="com.cafe24.dmsthch.Management.ManagementPlusMinus">
		 SELECT
		 	 t.equipment_no AS equipmentNo 
		 	,t.license_kindergarten AS licenseKindergarten
		 	,t.equipment_name AS equipmentName
		 	,t.category_no AS categoryNo
		 	,v.equipment_cost AS equipmentCost
		 	,sum(v.equipment_amount) AS PLUS
		 	,sum(m.equipment_amount) AS MINUS
		 	,v.equipment_customer AS equipmentCustomer
		 	,MAX(v.equipment_day) AS equipmentDay
		 	,t.equipment_state AS equipmentState
		FROM
			test_equipment t
		INNER JOIN
			test_equipment_value_plus v
		ON v.equipment_no = t.equipment_no
		INNER JOIN
			test_equipment_value_minus m
		ON m.equipment_no = t.equipment_no
		GROUP BY t.equipment_no			
	</select>
  <!-- 같은 네임품명중 오늘에서 하루전까지의 값중에서 최신값 구하기 -->
	<select id="selectManagementYesterDayList" parameterType="int" resultType="com.cafe24.dmsthch.Management.ManagementEquipment">
		SELECT 
			a.equipment_no AS equipmentNo
			,a.license_kindergarten AS licenseKindergarten
			,a.equipment_name AS equipmentName
			,a.teacher_no AS teacherNo
			,a.category_no AS categoryNo
			,a.equipment_cost AS equipmentCost
			,a.equipment_amount AS equipmentAmount
			,a.equipment_day AS equipmentDay
		FROM 
			equipment a
		INNER JOIN (SELECT equipment_name,MAX(equipment_day) AS equipment_day FROM equipment WHERE
			equipment_day &lt;= (now()-INTERVAL 1 DAY) GROUP by equipment_name) b
		on a.equipment_name = b.equipment_name
		AND a.equipment_day = b.equipment_day
		GROUP BY
			a.equipment_name
		ORDER BY
			a.equipment_no
		LIMIT 2;	
	</select>
  <!-- 같은 네임품명중 가장 최신값 구하기 -->
	<select id="selectManagementList" parameterType="int" resultType="com.cafe24.dmsthch.Management.ManagementEquipment">
   		SELECT 
  			 equipment_no AS equipmentNo
  			,license_kindergarten AS licenseKindergarten
  			,equipment_name AS equipmentName
  			,teacher_no AS teacherNo
  			,category_no AS categoryNo
  			,equipment_cost AS equipmentCost
  			,equipment_amount AS equipmentAmount
  			,equipment_day AS equipmentDay
  		FROM 
  			equipment
  		GROUP BY
  			equipment_name
  		ORDER BY
  			equipment_day
  		DESC LIMIT #{managementCount};
	</select>
	<!-- 비품 리스트 셀렉트 카운트 구하기 -->
	<select id="selectCountEquipmentList" parameterType="String" resultType="int">
		SELECT COUNT(DISTINCT equipment_name) FROM equipment WHERE license_kindergarten=#{licenseKindergarten};
	</select>
  </mapper>