@charset "UTF-8";
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,ul,li,ol,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;}
/* Nanum gothic */
@font-face {
	font-family: ng;
	font-style: normal;
	font-weight: 700;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
	src: local(※), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('x-woff2'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
	font-family: ng;
	font-style: normal;
	font-weight: 400;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
	src: local(※), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('x-woff2'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
	font-family: ng;
	font-style: normal;
	font-weight: 800;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
	src: local(※), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('x-woff2'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
		 url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
}
a:hover,
a:focus {text-decoration: none;}
a:focus {outline:0;}
.a:active,
.a.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
figure {margin:0;}

[data-toggle=buttons]>.vanellope>input[type=radio], [data-toggle=buttons]>.vanellope>input[type=checkbox] {display: none;}
[data-toggle=buttons]>.helix>input[type=radio], [data-toggle=buttons]>.helix>input[type=checkbox] {display: none;}
.vanellope {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal; text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 11px;
	font-size: 15px; 
	line-height: 1.42857143;
	border-radius: 6px;
	
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	-ms-transition: margin 0.5s ease;
	-o-transition: margin 0.5s ease;
	transition: margin 0.5s ease;
}
.vanellope.sugar-rush {
	position: relative;
	padding: 6px 27px 6px 13px;
	display: block;
}
.vanellope:focus,
.vanellope:active:focus,
.vanellope.active:focus { outline: none; }
.vanellope:hover,
.vanellope:focus {
  text-decoration: none;
} 
.vanellope:active,
.vanellope.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow:inset 0 0 10px #083379;
}
.vanellope.disabled,
.vanellope[disabled],
fieldset[disabled] .vanellope {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.vanellope-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.vanellope-default:hover,
.vanellope-default:focus,
.vanellope-default:active,
.vanellope-default.active,
.open .dropdown-toggle.vanellope-default {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.vanellope-default:active,
.vanellope-default.active,
.open .dropdown-toggle.vanellope-default {
  background-image: none;
}
.vanellope-default.disabled,
.vanellope-default[disabled],
fieldset[disabled] .vanellope-default,
.vanellope-default.disabled:hover,
.vanellope-default[disabled]:hover,
fieldset[disabled] .vanellope-default:hover,
.vanellope-default.disabled:focus,
.vanellope-default[disabled]:focus,
fieldset[disabled] .vanellope-default:focus,
.vanellope-default.disabled:active,
.vanellope-default[disabled]:active,
fieldset[disabled] .vanellope-default:active,
.vanellope-default.disabled.active,
.vanellope-default[disabled].active,
fieldset[disabled] .vanellope-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
/* green, pascal */ 
.vanellope-pascal {
	color: #FDFDE4; font-weight: 400;
	background-color: #45BD81;
	border-color: #45BD81;
	box-shadow: 0 4px 0 0 rgba(26,26,26,0.16); 
	box-shadow: 0 3px 0 0 rgba(11,11,11,0.15);
}
.vanellope-pascal:hover,
.vanellope-pascal:focus,
.vanellope-pascal:active,
.vanellope-pascal.active,
.open .dropdown-toggle.vanellope-pascal {
	background: -webkit-linear-gradient(top,#59d295 0%,#45bd81 100%);
	background: -moz-linear-gradient(top,#59d295 0%,#45bd81 100%);
	background: -ms-linear-gradient(top,#59d295 0%,#45bd81 100%);
	background: -o-linear-gradient(top,#59d295 0%,#45bd81 100%);
	background: linear-gradient(top,#59d295 0%,#45bd81 100%);
}
.vanellope-pascal:active,
.vanellope-pascal.active,
.open .dropdown-toggle.vanellope-pascal {
	text-shadow: 0 1px 0 #31aa6d;
	background: #45bd81;
	box-shadow: 0 3px 0 0 #31aa6d inset;
}
.vanellope-pascal.disabled,
.vanellope-pascal[disabled],
fieldset[disabled] .vanellope-pascal,
.vanellope-pascal.disabled:hover,
.vanellope-pascal[disabled]:hover,
fieldset[disabled] .vanellope-pascal:hover,
.vanellope-pascal.disabled:focus,
.vanellope-pascal[disabled]:focus,
fieldset[disabled] .vanellope-pascal:focus,
.vanellope-pascal.disabled:active,
.vanellope-pascal[disabled]:active,
fieldset[disabled] .vanellope-pascal:active,
.vanellope-pascal.disabled.active,
.vanellope-pascal[disabled].active,
fieldset[disabled] .vanellope-pascal.active {
  background-color: #45BD81;
  border-color: #45BD81;
}

	/* 레이아웃 백그라운드 설정 */
#site-container { 
	min-width: 1000px;
	min-height: 1000px;
	/* 백그라운드 위치 설정 */
	bottom: 0; left: 0; right: 3000; top: 0;
	background-color: #E3E1E2;
	background-color: rgb(223, 209, 192);
	background-color: rgba(227,224,226);
	position: fixed;
	z-index: 666;
}
.siteColorBg {
	width: 100%; height: 100%;
	position: absolute;
}
.siteColorBg .siteAnimationBg {
	-webkit-animation:superGalaxy 36s linear; /* Chrome, Safari, Opera */
	animation:superGalaxy 36s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	background-color: #e9e9e9;
	background-color: rgb(182, 171, 169);
	
	opacity: 0; visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	height: 100%;
	background-size: cover;
	padding-bottom: 300px;

}
.siteAnimationBg.active {
	opacity: 1; visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.siteColorBg .siteAnimationBg .loadGalaxy { display: none;}

.siteCover { 
	position:absolute; top:0; left:0; width:100%; height:100%;
	background:url(../img/06.png) repeat;
}

@-webkit-keyframes superGalaxy{
	from{-webkit-transform:translateY(0px);transform:translateY(0px);}
	to{-webkit-transform:translateY(-300px);transform:translateY(-300px);}}
@keyframes superGalaxy{
						/* 이미지의 시작지점 */
	from{-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);}
						/* 얼마나 올라갈지 얼마나 빨리 올라갈지 */
	to{-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(-300px);}}


.alt-checkbox {
	width:18px; height:18px; position:relative; float:left;
	display:inline-block; margin-right:3px;
	
	padding: 0;
	cursor: pointer;
	line-height: 18px;
	background: transparent url(../img/custom-inputs.png) no-repeat -90px -91px;
}
.alt-checkbox:hover, .alt-checkbox:focus { 
	background: transparent url(../img/custom-inputs.png) no-repeat -72px -109px;
}

.alt-checkbox.checked {
	background: transparent url(../img/custom-inputs.png) no-repeat -36px -145px;
}
.alt-checkbox.checked:hover {
	background: transparent url(../img/custom-inputs.png) no-repeat -18px -163px;
}

.alt-checkbox-label { 
	display:inline-block; position:relative; 
	font-size:12px; color:#666; padding-right:3px; line-height:16px;
}
.be-cover .message {
	position: relative;
	margin:0;
}
/* 로그인창 */
.be-cover { 
	padding:10px;
	background: #e9e9e9;
	opacity: .95\9;
	filter: alpha(opacity=95)\9;
	background-color: rgba(255,255,255,0.5);
	background-color: rgba(227,224,226,0.53);
	position:absolute;
	width: 380px;
	top: 50%; left: 50%;
	margin-left: -190px; margin-top: -226px;
	border-radius: 5px; 
}
.be-cover.error { margin-top: -306px;}
.befrozen-container {
	background-color: #ffffff;
	border: 1px solid #b8c3c9;
	border: 1px solid rgba(0, 0, 0, 0.23);
	box-shadow: 0 0 5px 0 rgba(55, 70, 79, 0.14);
	-webkit-box-shadow: 0 0 5px 0 rgba(55, 70, 79, 0.14);
	-moz-box-shadow: 0 0 5px 0 rgba(55, 70, 79, 0.14);
	-o-box-shadow: 0 0 5px 0 rgba(55, 70, 79, 0.14);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	overflow: hidden;
	position: relative;
	font-family: "Helvetica Neue",Helvetica,나눔고딕,NanumGothic,ng,"Lucida grande",Tahoma,Arial,sans-serif;
}
.befrozen-wrap * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.befrozen-container h1 {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 15px;

	border-bottom:1px solid #eee; padding-bottom:10px;
}

.befrozen-login {
	margin: 50px auto 30px;
	width: 340px;
	padding: 0 25px;
}

.form-item { 
	margin: 13px 0; position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.befrozen-container .form-text {
	border: 1px solid #e8e6ca; width:100%;
	border-color: #CFCFCF;
	box-shadow: 0 5px 0 0 rgba(26,26,26,0.03) inset;
	border-radius: 5px; padding:8px 11px;
}

.befrozen-container .form-text:focus { 
	outline:none; border: 1px solid #000;
/*	border: 1px solid #4d8dff;
	box-shadow: 0 0 3px rgba(0,116,239,0.5),0 4px 5px -5px rgba(0,0,0,0.3) inset; */
}

.befrozen-container .vanellope { display:block; width:100%; font-size:18px; padding:5px 0; }

.separator {
	background: #FFF;
	font-size: 14px;
	margin:  0;
	padding: 10px;
	position: relative;
	text-align: center;
}
.separator.so {
	font-weight:bold;
}
.separator.so:before, .separator.so:after {
	width:20%;
}
.separator:before, .separator:after {
	background: #dbdbdb;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 40%;
}
.separator:before {left: 0;}
.separator:after {right: 0;}


.signup {
	border-top: 1px solid #e8e8e8;
	font-size: 15px;
	line-height: normal;
	padding: 25px;
	text-align: center;
}

.control-group { font-size:13px; line-height:18px;}

.control-group input {width:13px; height:13px; vertical-align: middle;}
.control-group .reset-password {
	color: #6f6f6f;
	float: right;
	font-size: 12px;
}
#warning { color:#444; font-size:12px; margin:10px 0;}


/* infi-footer */
#infi-footer {
	width: 100%; height: 29px; padding-top:1px;
	position: fixed; bottom: 0; left: 0;
	background: #222;
	z-index: 9; 
	filter: alpha(opacity=90);
	opacity: 0.90; 
}




 